USE [master]
GO
/****** Object:  Database [dataQLKS]    Script Date: 5/14/2021 7:57:06 PM ******/
CREATE DATABASE [dataQLKS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dataQLKS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dataQLKS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dataQLKS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\dataQLKS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dataQLKS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dataQLKS]
GO
/****** Object:  Table [dbo].[tblChucVu]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChucVu](
	[ma_chuc_vu] [int] IDENTITY(1,1) NOT NULL,
	[chuc_vu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_chuc_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDichVu]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDichVu](
	[ma_dv] [int] IDENTITY(1,1) NOT NULL,
	[ten_dv] [nvarchar](100) NULL,
	[gia] [float] NULL,
	[don_vi] [nvarchar](30) NULL,
	[anh] [nvarchar](200) NULL,
	[ton_kho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDichVuDaDat]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDichVuDaDat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_hd] [int] NULL,
	[ma_dv] [int] NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHoaDon]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDon](
	[ma_hd] [int] IDENTITY(1,1) NOT NULL,
	[ma_nv] [int] NULL,
	[ma_pdp] [int] NULL,
	[ngay_tra_phong] [datetime] NULL,
	[ma_tinh_trang] [int] NULL,
	[tien_phong] [float] NULL,
	[tien_dich_vu] [float] NULL,
	[phu_thu] [float] NULL,
	[tong_tien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[ma_kh] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](50) NULL,
	[ho_ten] [nvarchar](50) NULL,
	[cmt] [nvarchar](30) NULL,
	[sdt] [nvarchar](15) NULL,
	[mail] [nvarchar](100) NULL,
	[diem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_kh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLoaiPhong]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiPhong](
	[loai_phong] [int] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](50) NULL,
	[gia] [float] NULL,
	[ti_le_phu_thu] [int] NULL,
	[anh] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[loai_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[ma_nv] [int] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](50) NULL,
	[ngay_sinh] [date] NULL,
	[dia_chi] [nvarchar](100) NULL,
	[sdt] [nvarchar](15) NULL,
	[tai_khoan] [nvarchar](50) NULL,
	[mat_khau] [nvarchar](50) NULL,
	[ma_chuc_vu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuDatPhong]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuDatPhong](
	[ma_pdp] [int] IDENTITY(1,1) NOT NULL,
	[ma_kh] [nvarchar](50) NULL,
	[ngay_dat] [datetime] NULL,
	[ngay_vao] [datetime] NULL,
	[ngay_ra] [datetime] NULL,
	[ma_phong] [int] NULL,
	[thong_tin_khach_thue] [nvarchar](400) NULL,
	[ma_tinh_trang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_pdp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhong]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhong](
	[ma_phong] [int] IDENTITY(1,1) NOT NULL,
	[so_phong] [nvarchar](10) NULL,
	[loai_phong] [int] NULL,
	[ma_tang] [int] NULL,
	[ma_tinh_trang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTang]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTang](
	[ma_tang] [int] IDENTITY(1,1) NOT NULL,
	[ten_tang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTinhTrangHoaDon]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinhTrangHoaDon](
	[ma_tinh_trang] [int] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tinh_trang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTinhTrangPhieuDatPhong]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinhTrangPhieuDatPhong](
	[ma_tinh_trang] [int] IDENTITY(1,1) NOT NULL,
	[tinh_trang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tinh_trang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTinhTrangPhong]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinhTrangPhong](
	[ma_tinh_trang] [int] IDENTITY(1,1) NOT NULL,
	[mo_ta] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tinh_trang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTinNhan]    Script Date: 5/14/2021 7:57:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinNhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ngay_gui] [datetime] NULL,
	[ma_kh] [nvarchar](50) NULL,
	[ho_ten] [nvarchar](100) NULL,
	[mail] [nvarchar](100) NULL,
	[noi_dung] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblChucVu] ON 

INSERT [dbo].[tblChucVu] ([ma_chuc_vu], [chuc_vu]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[tblChucVu] ([ma_chuc_vu], [chuc_vu]) VALUES (2, N'Quản lý')
INSERT [dbo].[tblChucVu] ([ma_chuc_vu], [chuc_vu]) VALUES (3, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[tblChucVu] OFF
SET IDENTITY_INSERT [dbo].[tblDichVu] ON 

INSERT [dbo].[tblDichVu] ([ma_dv], [ten_dv], [gia], [don_vi], [anh], [ton_kho]) VALUES (1, N'Nước ngọt', 10000, N'lon', N'/Content/Images/DichVu/1.png', 50)
INSERT [dbo].[tblDichVu] ([ma_dv], [ten_dv], [gia], [don_vi], [anh], [ton_kho]) VALUES (2, N'Bia 333', 10000, N'lon', N'/Content/Images/DichVu/2.png', 50)
INSERT [dbo].[tblDichVu] ([ma_dv], [ten_dv], [gia], [don_vi], [anh], [ton_kho]) VALUES (3, N'Khăn lạnh', 5000, N'chiếc', N'/Content/Images/DichVu/3.jpg', 50)
SET IDENTITY_INSERT [dbo].[tblDichVu] OFF
SET IDENTITY_INSERT [dbo].[tblDichVuDaDat] ON 

INSERT [dbo].[tblDichVuDaDat] ([id], [ma_hd], [ma_dv], [so_luong]) VALUES (1, 10, 1, 2)
INSERT [dbo].[tblDichVuDaDat] ([id], [ma_hd], [ma_dv], [so_luong]) VALUES (2, 10, 3, 4)
INSERT [dbo].[tblDichVuDaDat] ([id], [ma_hd], [ma_dv], [so_luong]) VALUES (3, 10, 2, 1)
SET IDENTITY_INSERT [dbo].[tblDichVuDaDat] OFF
SET IDENTITY_INSERT [dbo].[tblHoaDon] ON 

INSERT [dbo].[tblHoaDon] ([ma_hd], [ma_nv], [ma_pdp], [ngay_tra_phong], [ma_tinh_trang], [tien_phong], [tien_dich_vu], [phu_thu], [tong_tien]) VALUES (1, 1, 1, CAST(N'2021-04-24 21:36:27.427' AS DateTime), 2, 800000, 0, 0, 800000)
INSERT [dbo].[tblHoaDon] ([ma_hd], [ma_nv], [ma_pdp], [ngay_tra_phong], [ma_tinh_trang], [tien_phong], [tien_dich_vu], [phu_thu], [tong_tien]) VALUES (2, 1, 2, CAST(N'2021-04-25 21:36:27.427' AS DateTime), 2, 1100000, 0, 0, 1100000)
INSERT [dbo].[tblHoaDon] ([ma_hd], [ma_nv], [ma_pdp], [ngay_tra_phong], [ma_tinh_trang], [tien_phong], [tien_dich_vu], [phu_thu], [tong_tien]) VALUES (3, 1, 3, CAST(N'2021-04-27 21:36:27.427' AS DateTime), 2, 900000, 0, 0, 900000)
SET IDENTITY_INSERT [dbo].[tblHoaDon] OFF
INSERT [dbo].[tblKhachHang] ([ma_kh], [mat_khau], [ho_ten], [cmt], [sdt], [mail], [diem]) VALUES (N'khach', N'12345', N'Khach', N'1311412131', N'0166776868', N'khach@gmail.com', 0)
INSERT [dbo].[tblKhachHang] ([ma_kh], [mat_khau], [ho_ten], [cmt], [sdt], [mail], [diem]) VALUES (N'ntg1', N'12345', N'NTG1', N'1311412131', N'0166776868', N'ntg@gmail.com', 0)
INSERT [dbo].[tblKhachHang] ([ma_kh], [mat_khau], [ho_ten], [cmt], [sdt], [mail], [diem]) VALUES (N'ntg2', N'12345', N'NTG2', N'1311412131', N'0166776868', N'ntg2@gmail.com', 0)
SET IDENTITY_INSERT [dbo].[tblLoaiPhong] ON 

INSERT [dbo].[tblLoaiPhong] ([loai_phong], [mo_ta], [gia], [ti_le_phu_thu], [anh]) VALUES (1, N'Phòng đơn', 100000, 20, N'["/Content/Images/Phong/11.jpg","/Content/Images/Phong/12.jpg","/Content/Images/Phong/13.jpg"]')
INSERT [dbo].[tblLoaiPhong] ([loai_phong], [mo_ta], [gia], [ti_le_phu_thu], [anh]) VALUES (2, N'Phòng đôi', 150000, 25, N'["/Content/Images/Phong/21.jpg","/Content/Images/Phong/22.jpg","/Content/Images/Phong/23.jpg"]')
INSERT [dbo].[tblLoaiPhong] ([loai_phong], [mo_ta], [gia], [ti_le_phu_thu], [anh]) VALUES (3, N'Phòng vip', 200000, 30, N'["/Content/Images/Phong/31.jpg","/Content/Images/Phong/32.jpg"]')
SET IDENTITY_INSERT [dbo].[tblLoaiPhong] OFF
SET IDENTITY_INSERT [dbo].[tblNhanVien] ON 

INSERT [dbo].[tblNhanVien] ([ma_nv], [ho_ten], [ngay_sinh], [dia_chi], [sdt], [tai_khoan], [mat_khau], [ma_chuc_vu]) VALUES (1, N'Truong Giang', CAST(N'1900-01-01' AS Date), N'', N'01677915896', N'admin', N'12345', 1)
INSERT [dbo].[tblNhanVien] ([ma_nv], [ho_ten], [ngay_sinh], [dia_chi], [sdt], [tai_khoan], [mat_khau], [ma_chuc_vu]) VALUES (2, N'TG', CAST(N'1900-01-01' AS Date), N'', N'01677915896', N'smod', N'12345', 2)
INSERT [dbo].[tblNhanVien] ([ma_nv], [ho_ten], [ngay_sinh], [dia_chi], [sdt], [tai_khoan], [mat_khau], [ma_chuc_vu]) VALUES (3, N'tgiangfc', CAST(N'1900-01-01' AS Date), N'', N'01677915896', N'mod', N'12345', 3)
SET IDENTITY_INSERT [dbo].[tblNhanVien] OFF
SET IDENTITY_INSERT [dbo].[tblPhieuDatPhong] ON 

INSERT [dbo].[tblPhieuDatPhong] ([ma_pdp], [ma_kh], [ngay_dat], [ngay_vao], [ngay_ra], [ma_phong], [thong_tin_khach_thue], [ma_tinh_trang]) VALUES (1, N'ntg1', CAST(N'2021-04-19 21:35:28.170' AS DateTime), CAST(N'2021-04-19 21:35:28.170' AS DateTime), CAST(N'2021-04-26 21:35:28.170' AS DateTime), 7, N'[{"hoten":"","socmt":null,"tuoi":"","sodt":null},{"hoten":"Nguy?n Th? B","socmt":null,"tuoi":"18","sodt":null}]', 4)
INSERT [dbo].[tblPhieuDatPhong] ([ma_pdp], [ma_kh], [ngay_dat], [ngay_vao], [ngay_ra], [ma_phong], [thong_tin_khach_thue], [ma_tinh_trang]) VALUES (2, N'ntg2', CAST(N'2021-04-18 21:35:28.170' AS DateTime), CAST(N'2021-04-18 21:35:28.170' AS DateTime), CAST(N'2021-04-28 21:35:28.170' AS DateTime), 8, N'[{"hoten":"","socmt":null,"tuoi":"","sodt":null},{"hoten":"Nguy?n Th? B","socmt":null,"tuoi":"18","sodt":null}]', 4)
INSERT [dbo].[tblPhieuDatPhong] ([ma_pdp], [ma_kh], [ngay_dat], [ngay_vao], [ngay_ra], [ma_phong], [thong_tin_khach_thue], [ma_tinh_trang]) VALUES (3, N'khach', CAST(N'2021-04-21 21:35:28.170' AS DateTime), CAST(N'2021-04-21 21:35:28.170' AS DateTime), CAST(N'2021-04-29 21:35:28.170' AS DateTime), 9, N'[{"hoten":"","socmt":null,"tuoi":"","sodt":null},{"hoten":"Nguy?n Th? B","socmt":null,"tuoi":"18","sodt":null}]', 4)
SET IDENTITY_INSERT [dbo].[tblPhieuDatPhong] OFF
SET IDENTITY_INSERT [dbo].[tblPhong] ON 

INSERT [dbo].[tblPhong] ([ma_phong], [so_phong], [loai_phong], [ma_tang], [ma_tinh_trang]) VALUES (1, N'101', 1, 1, 1)
INSERT [dbo].[tblPhong] ([ma_phong], [so_phong], [loai_phong], [ma_tang], [ma_tinh_trang]) VALUES (2, N'102', 1, 1, 1)
INSERT [dbo].[tblPhong] ([ma_phong], [so_phong], [loai_phong], [ma_tang], [ma_tinh_trang]) VALUES (3, N'103', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tblPhong] OFF
SET IDENTITY_INSERT [dbo].[tblTang] ON 

INSERT [dbo].[tblTang] ([ma_tang], [ten_tang]) VALUES (1, N'Tầng 1')
INSERT [dbo].[tblTang] ([ma_tang], [ten_tang]) VALUES (2, N'Tầng 2')
INSERT [dbo].[tblTang] ([ma_tang], [ten_tang]) VALUES (3, N'Tầng 3')
SET IDENTITY_INSERT [dbo].[tblTang] OFF
SET IDENTITY_INSERT [dbo].[tblTinhTrangHoaDon] ON 

INSERT [dbo].[tblTinhTrangHoaDon] ([ma_tinh_trang], [mo_ta]) VALUES (1, N'Chưa thanh toán')
INSERT [dbo].[tblTinhTrangHoaDon] ([ma_tinh_trang], [mo_ta]) VALUES (2, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[tblTinhTrangHoaDon] OFF
SET IDENTITY_INSERT [dbo].[tblTinhTrangPhieuDatPhong] ON 

INSERT [dbo].[tblTinhTrangPhieuDatPhong] ([ma_tinh_trang], [tinh_trang]) VALUES (1, N'Đang đặt')
INSERT [dbo].[tblTinhTrangPhieuDatPhong] ([ma_tinh_trang], [tinh_trang]) VALUES (2, N'Đã xong')
INSERT [dbo].[tblTinhTrangPhieuDatPhong] ([ma_tinh_trang], [tinh_trang]) VALUES (3, N'Đã hủy')
SET IDENTITY_INSERT [dbo].[tblTinhTrangPhieuDatPhong] OFF
SET IDENTITY_INSERT [dbo].[tblTinhTrangPhong] ON 

INSERT [dbo].[tblTinhTrangPhong] ([ma_tinh_trang], [mo_ta]) VALUES (1, N'Trống')
INSERT [dbo].[tblTinhTrangPhong] ([ma_tinh_trang], [mo_ta]) VALUES (2, N'Đang sử dụng')
INSERT [dbo].[tblTinhTrangPhong] ([ma_tinh_trang], [mo_ta]) VALUES (3, N'Đang dọn')
SET IDENTITY_INSERT [dbo].[tblTinhTrangPhong] OFF
ALTER TABLE [dbo].[tblDichVuDaDat]  WITH CHECK ADD  CONSTRAINT [fk_ma_dv] FOREIGN KEY([ma_dv])
REFERENCES [dbo].[tblDichVu] ([ma_dv])
GO
ALTER TABLE [dbo].[tblDichVuDaDat] CHECK CONSTRAINT [fk_ma_dv]
GO
ALTER TABLE [dbo].[tblDichVuDaDat]  WITH CHECK ADD  CONSTRAINT [fk_ma_hd] FOREIGN KEY([ma_hd])
REFERENCES [dbo].[tblHoaDon] ([ma_hd])
GO
ALTER TABLE [dbo].[tblDichVuDaDat] CHECK CONSTRAINT [fk_ma_hd]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ma_nv] FOREIGN KEY([ma_nv])
REFERENCES [dbo].[tblNhanVien] ([ma_nv])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [fk_ma_nv]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ma_pdp] FOREIGN KEY([ma_pdp])
REFERENCES [dbo].[tblPhieuDatPhong] ([ma_pdp])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [fk_ma_pdp]
GO
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_ma_tthd] FOREIGN KEY([ma_tinh_trang])
REFERENCES [dbo].[tblTinhTrangHoaDon] ([ma_tinh_trang])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [fk_ma_tthd]
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [fk_ma_cv] FOREIGN KEY([ma_chuc_vu])
REFERENCES [dbo].[tblChucVu] ([ma_chuc_vu])
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [fk_ma_cv]
GO
ALTER TABLE [dbo].[tblPhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [fk_tgd_ma_kh2] FOREIGN KEY([ma_kh])
REFERENCES [dbo].[tblKhachHang] ([ma_kh])
GO
ALTER TABLE [dbo].[tblPhieuDatPhong] CHECK CONSTRAINT [fk_tgd_ma_kh2]
GO
ALTER TABLE [dbo].[tblPhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [fk_tgd_ma_phong_2] FOREIGN KEY([ma_phong])
REFERENCES [dbo].[tblPhong] ([ma_phong])
GO
ALTER TABLE [dbo].[tblPhieuDatPhong] CHECK CONSTRAINT [fk_tgd_ma_phong_2]
GO
ALTER TABLE [dbo].[tblPhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [fk_tgd_tt_2] FOREIGN KEY([ma_tinh_trang])
REFERENCES [dbo].[tblTinhTrangPhieuDatPhong] ([ma_tinh_trang])
GO
ALTER TABLE [dbo].[tblPhieuDatPhong] CHECK CONSTRAINT [fk_tgd_tt_2]
GO
ALTER TABLE [dbo].[tblPhong]  WITH CHECK ADD  CONSTRAINT [fk_ma_lp] FOREIGN KEY([loai_phong])
REFERENCES [dbo].[tblLoaiPhong] ([loai_phong])
GO
ALTER TABLE [dbo].[tblPhong] CHECK CONSTRAINT [fk_ma_lp]
GO
ALTER TABLE [dbo].[tblPhong]  WITH CHECK ADD  CONSTRAINT [fk_ma_tang] FOREIGN KEY([ma_tang])
REFERENCES [dbo].[tblTang] ([ma_tang])
GO
ALTER TABLE [dbo].[tblPhong] CHECK CONSTRAINT [fk_ma_tang]
GO
ALTER TABLE [dbo].[tblPhong]  WITH CHECK ADD  CONSTRAINT [fk_ma_tt_2] FOREIGN KEY([ma_tinh_trang])
REFERENCES [dbo].[tblTinhTrangPhong] ([ma_tinh_trang])
GO
ALTER TABLE [dbo].[tblPhong] CHECK CONSTRAINT [fk_ma_tt_2]
GO
ALTER TABLE [dbo].[tblTinNhan]  WITH CHECK ADD  CONSTRAINT [fk_tin_nhan] FOREIGN KEY([ma_kh])
REFERENCES [dbo].[tblKhachHang] ([ma_kh])
GO
ALTER TABLE [dbo].[tblTinNhan] CHECK CONSTRAINT [fk_tin_nhan]
GO
USE [master]
GO
