@{
    ViewBag.Title = "About";
}
<header id="gtco-header" class="gtco-cover gtco-cover-md g-header" role="banner" style="background-image: url(/Content/Home/images/banner-nhatrang-cozy-hotel-1.jpg)" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
</header>
<div class="container">
    <br /><br /><br /><br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title</h3>
        </div>
        <div class="panel-body">
            <h3>Chào mừng đến với khách sạn COZY-HOTEL</h3>

            <p>
             Vị trí đắc địa ngay trung tâm thành phố Nha Trang, chỉ cách bãi biển vài dãy nhà, 5 phút đi bộ đến các điểm tham quan chính của thành phố. Với 23 phòng ấm cúng, đầy đủ tiện nghi và sạch sẽ, mục tiêu của NhaTrang Cozy Hotel là cung cấp cho khách hàng chỗ ở và dịch vụ tốt nhất với giá cả hợp lý tại thành phố biển, cho dù bạn đi công tác hay nghỉ dưỡng.
                <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31193.189028044246!2d109.193687!3d12.238214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x399f91847c83cc2b!2sNhatrang%20Cozy%20Hotel!5e0!3m2!1svi!2sus!4v1621188310491!5m2!1svi!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></center>
               Phòng Gia đình Deluxe có Ban công

Đây là phòng lớn nhất của chúng tôi trong khách sạn được trang bị đầy đủ với tủ lạnh, máy lạnh và truyền hình cáp, ấm đun nước điện, máy sấy tóc, đèn, trà / cà phê, đồ vệ sinh cá nhân, v.v. với tầm nhìn tuyệt đẹp từ ban công lớn. Mỗi phòng có 2 giường đôi, đây là sự lựa chọn thích hợp cho gia đình hoặc nhóm nhỏ (4 người) cho một kỳ nghỉ gần gũi nhưng thoải mái.

Phòng đôi Deluxe hướng thành phố

Đây là phòng đẹp nhất của chúng tôi trong khách sạn được trang bị đầy đủ với tủ lạnh, máy lạnh và truyền hình cáp, ấm đun nước điện, máy sấy tóc, đèn, trà / cà phê, đồ vệ sinh cá nhân, v.v. và tầm nhìn ra quang cảnh thành phố từ cửa sổ. Nó có một giường đôi cho các cặp đôi lãng mạn hoặc khách độc thân.

Đôi tiêu chuẩn Không có tầm nhìn

Đây là phòng nhỏ nhất của chúng tôi trong khách sạn được trang bị đầy đủ với tủ lạnh, máy lạnh và truyền hình cáp, ấm đun nước điện, máy sấy tóc, đèn, trà / cà phê, đồ vệ sinh cá nhân, v.v. và có một giường, cửa sổ trượt nhìn ra hành lang, phòng tắm rộng rãi, với trang trí mới, sạch sẽ và ấm cúng. Nó phù hợp cho khách độc thân hoặc các cặp vợ chồng muốn có một phòng tốt với túi tiền.            </p>
        </div>
    </div>
</div>

